In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies = pd.read_csv("data.txt")

In [3]:
movies

      User          Movie Rating
0    Alice      Star Wars      5
1    Frank  The Godfather      4
2      Bob        Titanic      5
3    Carol     The Matrix      3
4     Dave      Inception      2
5    Emily   Pulp Fiction      4
6   Quincy      Star Wars      5
7      Bob      Star Wars      2
8    Frank   Forrest Gump      3
9    Alice     The Matrix      4
10    Paul        Titanic      4
11   Carol      Inception      5
12    Dave        Titanic      4
13   Emily  The Godfather      5
14   Alice      Inception      3
15    Paul  The Godfather      5
16   Carol   Pulp Fiction      4
17     Ivy      Star Wars      5
18   Emily   Forrest Gump      3
19  Quincy     The Matrix      4
20     Ivy     The Matrix      4
21    Paul      Inception      1
22     Bob  The Godfather      4
23   Frank      Star Wars      5
24     Ivy      Inception      3
25    Dave   Forrest Gump      5
26  Quincy      Inception      3
27   Karen     The Matrix      3
28     Leo        Titanic      4
29     Mia  The Godfather      5
30    Nina      Star Wars      5
31   Oscar     The Matrix      4
32   Sarah      Star Wars     5x
33     Tom   Pulp Fiction   Five
34   Karen      Inception      5
35     Leo      Inception      2
36     Mia   Pulp Fiction      4
37    Nina  The Godfather      4
38   Oscar   Pulp Fiction      2
39   Sarah      Inception      4
40     Tom      Inception    NaN
41  Victor  The Godfather    NaN
42   Wendy   Pulp Fiction      4
43    Zane   Pulp Fiction    3.5
44     Uma        Titanic      5
45  Victor         Matrix      x
46   Wendy     The Matrix    3.5
47  Xander   Forrest Gump      5
48    Yara      Inception     5y
49    Zane   Forrest Gump    3.5
50     Uma      Star Wars     2?
51    Yara     The Matrix    NaN
52   Karen   Pulp Fiction      4
53     Leo   Forrest Gump      5
54     Mia   Forrest Gump      3
55    Nina   Forrest Gump      3
56   Oscar   Forrest Gump      5
57    Zane      Star Wars      4

In [4]:
new_df = movies.set_index(["User", "Movie"]).Rating.unstack()

In [5]:
new_df = new_df.fillna(0)

In [6]:
new_df

Movie,Forrest Gump,Inception,Matrix,Pulp Fiction,Star Wars,The Godfather,The Matrix,Titanic
User,,,,,,,,
Alice,0,3,0,0,5,0,4,0
Bob,0,0,0,0,2,4,0,5
Carol,0,5,0,4,0,0,3,0
Dave,5,2,0,0,0,0,0,4
Emily,3,0,0,4,0,5,0,0
Frank,3,0,0,0,5,4,0,0
Ivy,0,3,0,0,5,0,4,0
Karen,0,5,0,4,0,0,3,0
Leo,5,2,0,0,0,0,0,4
Mia,3,0,0,4,0,5,0,0
Nina,3,0,0,0,5,4,0,0
Oscar,5,0,0,2,0,0,4,0
Paul,0,1,0,0,0,5,0,4
Quincy,0,3,0,0,5,0,4,0
Sarah,0,4,0,0,5x,0,0,0
Tom,0,0,0,Five,0,0,0,0
Uma,0,0,0,0,2?,0,0,5
Victor,0,0,x,0,0,0,0,0
Wendy,0,0,0,4,0,0,3.5,0
Xander,5,0,0,0,0,0,0,0
Yara,0,5y,0,0,0,0,0,0
Zane,3.5,0,0,3.5,4,0,0,0

In [7]:
new_df = new_df.replace("Five", "5", regex=True)
new_df = new_df.replace(r'[^0-9,.]', '', regex=True)
new_df = new_df.fillna(0)

In [8]:
new_df = new_df.drop("Matrix", axis=1)

In [9]:
new_df

Movie,Forrest Gump,Inception,Pulp Fiction,Star Wars,The Godfather,The Matrix,Titanic
User,,,,,,,
Alice,0,3,0,5,0,4,0
Bob,0,0,0,2,4,0,5
Carol,0,5,4,0,0,3,0
Dave,5,2,0,0,0,0,4
Emily,3,0,4,0,5,0,0
Frank,3,0,0,5,4,0,0
Ivy,0,3,0,5,0,4,0
Karen,0,5,4,0,0,3,0
Leo,5,2,0,0,0,0,4
Mia,3,0,4,0,5,0,0
Nina,3,0,0,5,4,0,0
Oscar,5,0,2,0,0,4,0
Paul,0,1,0,0,5,0,4
Quincy,0,3,0,5,0,4,0
Sarah,0,4,0,5,0,0,0
Tom,0,0,5,0,0,0,0
Uma,0,0,0,2,0,0,5
Victor,0,0,0,0,0,0,0
Wendy,0,0,4,0,0,3.5,0
Xander,5,0,0,0,0,0,0
Yara,0,5,0,0,0,0,0
Zane,3.5,0,3.5,4,0,0,0

In [10]:
##Not all movies are rated

def standardize(row):
    new_row = (row - row.mean()) / (row.max() - row.min())
    return new_row

In [11]:
new_df_5 = new_df
new_df_5.columns = [a for a in new_df_5.columns]
new_df_5.reset_index(inplace=True)
new_df_5 = new_df_5.set_index("User")

In [13]:
new_df_5 = new_df_5.astype({"Forrest Gump" : "float", 
                        "Inception" : "float", 
                        "Pulp Fiction": "float", 
                        "Star Wars" : "float",
                        "The Godfather" : "float", 
                        "The Matrix" : "float",
                        "Titanic" : "float"
                       })

In [14]:
new_df_5.dtypes

Forrest Gump     float64
Inception        float64
Pulp Fiction     float64
Star Wars        float64
The Godfather    float64
The Matrix       float64
Titanic          float64
dtype: object

In [16]:
ratings_std = new_df_5.apply(standardize)
ratings_std

,Forrest Gump,Inception,Pulp Fiction,Star Wars,The Godfather,The Matrix,Titanic
User,,,,,,,
Alice,-0.322727,0.3,-0.277273,0.654545,-0.245455,0.710227,-0.2
Bob,-0.322727,-0.3,-0.277273,0.054545,0.554545,-0.289773,0.8
Carol,-0.322727,0.7,0.522727,-0.345455,-0.245455,0.460227,-0.2
Dave,0.677273,0.1,-0.277273,-0.345455,-0.245455,-0.289773,0.6
Emily,0.277273,-0.3,0.522727,-0.345455,0.754545,-0.289773,-0.2
Frank,0.277273,-0.3,-0.277273,0.654545,0.554545,-0.289773,-0.2
Ivy,-0.322727,0.3,-0.277273,0.654545,-0.245455,0.710227,-0.2
Karen,-0.322727,0.7,0.522727,-0.345455,-0.245455,0.460227,-0.2
Leo,0.677273,0.1,-0.277273,-0.345455,-0.245455,-0.289773,0.6
Mia,0.277273,-0.3,0.522727,-0.345455,0.754545,-0.289773,-0.2
Nina,0.277273,-0.3,-0.277273,0.654545,0.554545,-0.289773,-0.2
Oscar,0.677273,-0.3,0.122727,-0.345455,-0.245455,0.710227,-0.2
Paul,-0.322727,-0.1,-0.277273,-0.345455,0.754545,-0.289773,0.6
Quincy,-0.322727,0.3,-0.277273,0.654545,-0.245455,0.710227,-0.2
Sarah,-0.322727,0.5,-0.277273,0.654545,-0.245455,-0.289773,-0.2
Tom,-0.322727,-0.3,0.722727,-0.345455,-0.245455,-0.289773,-0.2
Uma,-0.322727,-0.3,-0.277273,0.054545,-0.245455,-0.289773,0.8
Victor,-0.322727,-0.3,-0.277273,-0.345455,-0.245455,-0.289773,-0.2
Wendy,-0.322727,-0.3,0.522727,-0.345455,-0.245455,0.585227,-0.2
Xander,0.677273,-0.3,-0.277273,-0.345455,-0.245455,-0.289773,-0.2
Yara,-0.322727,0.7,-0.277273,-0.345455,-0.245455,-0.289773,-0.2
Zane,0.377273,-0.3,0.422727,0.454545,-0.245455,-0.289773,-0.2

In [17]:
item_similarity = cosine_similarity(ratings_std.T)
item_similarity

array([[ 1.        , -0.39600573, -0.03499441, -0.17443   ,  0.11537951,
        -0.27567356,  0.05412107],
       [-0.39600573,  1.        , -0.07350166,  0.0872966 , -0.42538827,
         0.39190687, -0.1693892 ],
       [-0.03499441, -0.07350166,  1.        , -0.41816268,  0.03048695,
         0.1489731 , -0.39370708],
       [-0.17443   ,  0.0872966 , -0.41816268,  1.        ,  0.01381862,
         0.19055195, -0.19834622],
       [ 0.11537951, -0.42538827,  0.03048695,  0.01381862,  1.        ,
        -0.41044977,  0.15730574],
       [-0.27567356,  0.39190687,  0.1489731 ,  0.19055195, -0.41044977,
         1.        , -0.3636672 ],
       [ 0.05412107, -0.1693892 , -0.39370708, -0.19834622,  0.15730574,
        -0.3636672 ,  1.        ]])

In [18]:
item_similarity_df = pd.DataFrame(item_similarity, index=new_df_5.columns, columns=new_df_5.columns)

In [19]:
item_similarity_df

,Forrest Gump,Inception,Pulp Fiction,Star Wars,The Godfather,The Matrix,Titanic
Forrest Gump,1.000000,-0.396006,-0.034994,-0.174430,0.115380,-0.275674,0.054121
Inception,-0.396006,1.000000,-0.073502,0.087297,-0.425388,0.391907,-0.169389
Pulp Fiction,-0.034994,-0.073502,1.000000,-0.418163,0.030487,0.148973,-0.393707
Star Wars,-0.174430,0.087297,-0.418163,1.000000,0.013819,0.190552,-0.198346
The Godfather,0.115380,-0.425388,0.030487,0.013819,1.000000,-0.410450,0.157306
The Matrix,-0.275674,0.391907,0.148973,0.190552,-0.410450,1.000000,-0.363667
Titanic,0.054121,-0.169389,-0.393707,-0.198346,0.157306,-0.363667,1.000000

In [20]:
def get_similar_movies(movie_name, user_rating):
    similar_score = item_similarity_df[movie_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)

    return similar_score

In [21]:
get_similar_movies("Titanic", 1)

Pulp Fiction     0.590561
The Matrix       0.545501
Star Wars        0.297519
Inception        0.254084
Forrest Gump    -0.081182
The Godfather   -0.235959
Titanic         -1.500000
Name: Titanic, dtype: float64

In [22]:
user_1 = [("Titanic", 1), ("Pulp Fiction", 4), ("Star Wars", 5)]

In [23]:
similar_movies = pd.DataFrame()

In [24]:
for movie,rating in user_1:
    similar_movies = similar_movies._append(get_similar_movies(movie, rating))

similar_movies

,Pulp Fiction,The Matrix,Star Wars,Inception,Forrest Gump,The Godfather,Titanic
Titanic,0.590561,0.545501,0.297519,0.254084,-0.081182,-0.235959,-1.500000
Pulp Fiction,1.500000,0.223460,-0.627244,-0.110252,-0.052492,0.045730,-0.590561
Star Wars,-1.045407,0.476380,2.500000,0.218242,-0.436075,0.034547,-0.495866