In [1]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 425.9 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting joblib>=1.1.1
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 KB 1.4 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Collecting scipy>=1.5.0
  Downloading scipy-1.11.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.4/36.4 MB 500.3 kB/s eta 0:00:00m eta 0:00:01[36m0:00:02
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/michel/.local/lib/python3.10/site-packages (from scikit-learn) (1.26.1)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.11.3 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import sklearn

In [4]:
movies = pd.read_csv("data.txt")

In [5]:
movies.dtypes

User      object
Movie     object
Rating    object
dtype: object

In [6]:
movies

      User          Movie Rating
0    Alice      Star Wars      5
1    Frank  The Godfather      4
2      Bob        Titanic      5
3    Carol     The Matrix      3
4     Dave      Inception      2
5    Emily   Pulp Fiction      4
6   Quincy      Star Wars      5
7      Bob      Star Wars      2
8    Frank   Forrest Gump      3
9    Alice     The Matrix      4
10    Paul        Titanic      4
11   Carol      Inception      5
12    Dave        Titanic      4
13   Emily  The Godfather      5
14   Alice      Inception      3
15    Paul  The Godfather      5
16   Carol   Pulp Fiction      4
17     Ivy      Star Wars      5
18   Emily   Forrest Gump      3
19  Quincy     The Matrix      4
20     Ivy     The Matrix      4
21    Paul      Inception      1
22     Bob  The Godfather      4
23   Frank      Star Wars      5
24     Ivy      Inception      3
25    Dave   Forrest Gump      5
26  Quincy      Inception      3
27   Karen     The Matrix      3
28     Leo        Titanic      4
29     Mia  The Godfather      5
30    Nina      Star Wars      5
31   Oscar     The Matrix      4
32   Sarah      Star Wars     5x
33     Tom   Pulp Fiction   Five
34   Karen      Inception      5
35     Leo      Inception      2
36     Mia   Pulp Fiction      4
37    Nina  The Godfather      4
38   Oscar   Pulp Fiction      2
39   Sarah      Inception      4
40     Tom      Inception    NaN
41  Victor  The Godfather    NaN
42   Wendy   Pulp Fiction      4
43    Zane   Pulp Fiction    3.5
44     Uma        Titanic      5
45  Victor         Matrix      x
46   Wendy     The Matrix    3.5
47  Xander   Forrest Gump      5
48    Yara      Inception     5y
49    Zane   Forrest Gump    3.5
50     Uma      Star Wars     2?
51    Yara     The Matrix    NaN
52   Karen   Pulp Fiction      4
53     Leo   Forrest Gump      5
54     Mia   Forrest Gump      3
55    Nina   Forrest Gump      3
56   Oscar   Forrest Gump      5
57    Zane      Star Wars      4

In [7]:
movies["Clean_Rating"] = movies["Rating"].str.replace("Five", "5", regex=True)

In [8]:
movies["Clean_Rating"] = movies["Clean_Rating"].str.replace(r'[^0-9,.]', '', regex=True)

In [9]:
movies

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
40     Tom      Inception    NaN          NaN
41  Victor  The Godfather    NaN          NaN
42   Wendy   Pulp Fiction      4            4
43    Zane   Pulp Fiction    3.5          3.5
44     Uma        Titanic      5            5
45  Victor         Matrix      x
46   Wendy     The Matrix    3.5          3.5
47  Xander   Forrest Gump      5            5
48    Yara      Inception     5y            5
49    Zane   Forrest Gump    3.5          3.5
50     Uma      Star Wars     2?            2
51    Yara     The Matrix    NaN          NaN
52   Karen   Pulp Fiction      4            4
53     Leo   Forrest Gump      5            5
54     Mia   Forrest Gump      3            3
55    Nina   Forrest Gump      3            3
56   Oscar   Forrest Gump      5            5
57    Zane      Star Wars      4            4

In [10]:
movies = movies[movies["Clean_Rating"] != ""]

In [137]:
movies.dropna()

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
42   Wendy   Pulp Fiction      4            4
43    Zane   Pulp Fiction    3.5          3.5
44     Uma        Titanic      5            5
46   Wendy     The Matrix    3.5          3.5
47  Xander   Forrest Gump      5            5
48    Yara      Inception     5y            5
49    Zane   Forrest Gump    3.5          3.5
50     Uma      Star Wars     2?            2
52   Karen   Pulp Fiction      4            4
53     Leo   Forrest Gump      5            5
54     Mia   Forrest Gump      3            3
55    Nina   Forrest Gump      3            3
56   Oscar   Forrest Gump      5            5
57    Zane      Star Wars      4            4

In [140]:
movies.dropna()

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
42   Wendy   Pulp Fiction      4            4
43    Zane   Pulp Fiction    3.5          3.5
44     Uma        Titanic      5            5
45   Wendy     The Matrix    3.5          3.5
46  Xander   Forrest Gump      5            5
47    Yara      Inception     5y            5
48    Zane   Forrest Gump    3.5          3.5
49     Uma      Star Wars     2?            2
51   Karen   Pulp Fiction      4            4
52     Leo   Forrest Gump      5            5
53     Mia   Forrest Gump      3            3
54    Nina   Forrest Gump      3            3
55   Oscar   Forrest Gump      5            5
56    Zane      Star Wars      4            4

In [11]:
movies = movies.reset_index(drop=True)
movies

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
40     Tom      Inception    NaN          NaN
41  Victor  The Godfather    NaN          NaN
42   Wendy   Pulp Fiction      4            4
43    Zane   Pulp Fiction    3.5          3.5
44     Uma        Titanic      5            5
45   Wendy     The Matrix    3.5          3.5
46  Xander   Forrest Gump      5            5
47    Yara      Inception     5y            5
48    Zane   Forrest Gump    3.5          3.5
49     Uma      Star Wars     2?            2
50    Yara     The Matrix    NaN          NaN
51   Karen   Pulp Fiction      4            4
52     Leo   Forrest Gump      5            5
53     Mia   Forrest Gump      3            3
54    Nina   Forrest Gump      3            3
55   Oscar   Forrest Gump      5            5
56    Zane      Star Wars      4            4

In [142]:
movies

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
40     Tom      Inception    NaN          NaN
41  Victor  The Godfather    NaN          NaN
42   Wendy   Pulp Fiction      4            4
43    Zane   Pulp Fiction    3.5          3.5
44     Uma        Titanic      5            5
45   Wendy     The Matrix    3.5          3.5
46  Xander   Forrest Gump      5            5
47    Yara      Inception     5y            5
48    Zane   Forrest Gump    3.5          3.5
49     Uma      Star Wars     2?            2
50    Yara     The Matrix    NaN          NaN
51   Karen   Pulp Fiction      4            4
52     Leo   Forrest Gump      5            5
53     Mia   Forrest Gump      3            3
54    Nina   Forrest Gump      3            3
55   Oscar   Forrest Gump      5            5
56    Zane      Star Wars      4            4

In [13]:
movies = movies.dropna()

In [14]:
movies

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
42   Wendy   Pulp Fiction      4            4
43    Zane   Pulp Fiction    3.5          3.5
44     Uma        Titanic      5            5
45   Wendy     The Matrix    3.5          3.5
46  Xander   Forrest Gump      5            5
47    Yara      Inception     5y            5
48    Zane   Forrest Gump    3.5          3.5
49     Uma      Star Wars     2?            2
51   Karen   Pulp Fiction      4            4
52     Leo   Forrest Gump      5            5
53     Mia   Forrest Gump      3            3
54    Nina   Forrest Gump      3            3
55   Oscar   Forrest Gump      5            5
56    Zane      Star Wars      4            4

In [15]:
movies = movies.reset_index(drop=True)

In [16]:
movies

      User          Movie Rating Clean_Rating
0    Alice      Star Wars      5            5
1    Frank  The Godfather      4            4
2      Bob        Titanic      5            5
3    Carol     The Matrix      3            3
4     Dave      Inception      2            2
5    Emily   Pulp Fiction      4            4
6   Quincy      Star Wars      5            5
7      Bob      Star Wars      2            2
8    Frank   Forrest Gump      3            3
9    Alice     The Matrix      4            4
10    Paul        Titanic      4            4
11   Carol      Inception      5            5
12    Dave        Titanic      4            4
13   Emily  The Godfather      5            5
14   Alice      Inception      3            3
15    Paul  The Godfather      5            5
16   Carol   Pulp Fiction      4            4
17     Ivy      Star Wars      5            5
18   Emily   Forrest Gump      3            3
19  Quincy     The Matrix      4            4
20     Ivy     The Matrix      4            4
21    Paul      Inception      1            1
22     Bob  The Godfather      4            4
23   Frank      Star Wars      5            5
24     Ivy      Inception      3            3
25    Dave   Forrest Gump      5            5
26  Quincy      Inception      3            3
27   Karen     The Matrix      3            3
28     Leo        Titanic      4            4
29     Mia  The Godfather      5            5
30    Nina      Star Wars      5            5
31   Oscar     The Matrix      4            4
32   Sarah      Star Wars     5x            5
33     Tom   Pulp Fiction   Five            5
34   Karen      Inception      5            5
35     Leo      Inception      2            2
36     Mia   Pulp Fiction      4            4
37    Nina  The Godfather      4            4
38   Oscar   Pulp Fiction      2            2
39   Sarah      Inception      4            4
40   Wendy   Pulp Fiction      4            4
41    Zane   Pulp Fiction    3.5          3.5
42     Uma        Titanic      5            5
43   Wendy     The Matrix    3.5          3.5
44  Xander   Forrest Gump      5            5
45    Yara      Inception     5y            5
46    Zane   Forrest Gump    3.5          3.5
47     Uma      Star Wars     2?            2
48   Karen   Pulp Fiction      4            4
49     Leo   Forrest Gump      5            5
50     Mia   Forrest Gump      3            3
51    Nina   Forrest Gump      3            3
52   Oscar   Forrest Gump      5            5
53    Zane      Star Wars      4            4

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [18]:
vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(movies["Movie"])

In [36]:
def search(title):
    # title = "Fiction"
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices][::-1]
    return results

In [37]:
search("Gump")

      User         Movie Rating Clean_Rating
44  Xander  Forrest Gump      5            5
8    Frank  Forrest Gump      3            3
46    Zane  Forrest Gump    3.5          3.5
49     Leo  Forrest Gump      5            5
18   Emily  Forrest Gump      3            3

In [30]:
similarity

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.57735027, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.57735027, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.57735027, 0.        ,
       0.        , 0.57735027, 0.        , 0.57735027, 0.        ,
       0.57735027, 0.57735027, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.57735027, 0.        ,
       0.        , 0.        , 0.        , 0.        ])

In [41]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value="Toy Story",
    description="Movie Title:",
    disabled=False
)

movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names="value")

display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [44]:
movies["Clean_Rating"] = movies["Clean_Rating"].astype(float)

In [46]:
movies.dtypes

User             object
Movie            object
Rating           object
Clean_Rating    float64
dtype: object

In [82]:
similar_users = movies[(movies["Movie"] == movie) & (movies["Clean_Rating"] >= 3)]["User"].unique()

In [83]:
movie = "Inception"

In [84]:
similar_users

array(['Carol', 'Alice', 'Ivy', 'Quincy', 'Karen', 'Sarah', 'Yara'],
      dtype=object)

In [97]:
similar_user_recs = movies[(movies["User"].isin(similar_users)) & (movies["Clean_Rating"] >= 3)]["Movie"]

In [98]:
similar_user_recs

0        Star Wars
3       The Matrix
6        Star Wars
9       The Matrix
11       Inception
14       Inception
16    Pulp Fiction
17       Star Wars
19      The Matrix
20      The Matrix
24       Inception
26       Inception
27      The Matrix
32       Star Wars
34       Inception
39       Inception
45       Inception
48    Pulp Fiction
Name: Movie, dtype: object

In [99]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

similar_user_recs = similar_user_recs[similar_user_recs > .1]

In [100]:
similar_user_recs

Movie
Inception       1.000000
The Matrix      0.714286
Star Wars       0.571429
Pulp Fiction    0.285714
Name: count, dtype: float64

In [101]:
all_users = movies[(movies["Movie"].isin(similar_user_recs.index)) & (movies["Clean_Rating"] >= 3)]

In [102]:
all_users

      User         Movie Rating  Clean_Rating
0    Alice     Star Wars      5           5.0
3    Carol    The Matrix      3           3.0
5    Emily  Pulp Fiction      4           4.0
6   Quincy     Star Wars      5           5.0
9    Alice    The Matrix      4           4.0
11   Carol     Inception      5           5.0
14   Alice     Inception      3           3.0
16   Carol  Pulp Fiction      4           4.0
17     Ivy     Star Wars      5           5.0
19  Quincy    The Matrix      4           4.0
20     Ivy    The Matrix      4           4.0
23   Frank     Star Wars      5           5.0
24     Ivy     Inception      3           3.0
26  Quincy     Inception      3           3.0
27   Karen    The Matrix      3           3.0
30    Nina     Star Wars      5           5.0
31   Oscar    The Matrix      4           4.0
32   Sarah     Star Wars     5x           5.0
33     Tom  Pulp Fiction   Five           5.0
34   Karen     Inception      5           5.0
36     Mia  Pulp Fiction      4           4.0
39   Sarah     Inception      4           4.0
40   Wendy  Pulp Fiction      4           4.0
41    Zane  Pulp Fiction    3.5           3.5
43   Wendy    The Matrix    3.5           3.5
45    Yara     Inception     5y           5.0
48   Karen  Pulp Fiction      4           4.0
53    Zane     Star Wars      4           4.0

In [112]:
# len(all_users["User"].unique())

all_users["Movie"].value_counts()

Movie
Star Wars       7
The Matrix      7
Pulp Fiction    7
Inception       7
Name: count, dtype: int64

In [103]:
all_user_recs = all_users["Movie"].value_counts() / len(all_users["User"].unique())

In [104]:
all_user_recs

Movie
Star Wars       0.466667
The Matrix      0.466667
Pulp Fiction    0.466667
Inception       0.466667
Name: count, dtype: float64

In [105]:
rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [106]:
rec_percentages

               similar       all
Movie
Inception     1.000000  0.466667
The Matrix    0.714286  0.466667
Star Wars     0.571429  0.466667
Pulp Fiction  0.285714  0.466667

In [107]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [108]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [109]:
rec_percentages

               similar       all     score
Movie
Inception     1.000000  0.466667  2.142857
The Matrix    0.714286  0.466667  1.530612
Star Wars     0.571429  0.466667  1.224490
Pulp Fiction  0.285714  0.466667  0.612245

In [113]:
def find_similar_movie(movie):
   #Finding recommendations from similar users
   similar_users = movies[(movies["Movie"] == movie) & (movies["Clean_Rating"] >= 3)]["User"].unique()
   similar_user_recs = movies[(movies["User"].isin(similar_users)) & (movies["Clean_Rating"] >= 3)]["Movie"]
   
   #Only 10% of users
   similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
   similar_user_recs = similar_user_recs[similar_user_recs > .10]

   #How common the recommendations were amongst other users
   all_users = movies[(movies["Movie"].isin(similar_user_recs.index)) & (movies["Clean_Rating"] >= 3)]
   all_user_recs = all_users["Movie"].value_counts() / len(all_users["User"].unique())

   rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
   rec_percentages.columns = ["similar", "all"]
    
   rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
   rec_percentages = rec_percentages.sort_values("score", ascending=False)

   return rec_percentages

In [116]:
movie_input_name = widgets.Text(
    value="Toy Story",
    description="Movie Title:",
    disabled=False
)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie = results.iloc[0]["Movie"]
            display(find_similar_movie(movie))

movie_input_name.observe(on_type, names="value")

display(movie_input_name, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [117]:
movies

      User          Movie Rating  Clean_Rating
0    Alice      Star Wars      5           5.0
1    Frank  The Godfather      4           4.0
2      Bob        Titanic      5           5.0
3    Carol     The Matrix      3           3.0
4     Dave      Inception      2           2.0
5    Emily   Pulp Fiction      4           4.0
6   Quincy      Star Wars      5           5.0
7      Bob      Star Wars      2           2.0
8    Frank   Forrest Gump      3           3.0
9    Alice     The Matrix      4           4.0
10    Paul        Titanic      4           4.0
11   Carol      Inception      5           5.0
12    Dave        Titanic      4           4.0
13   Emily  The Godfather      5           5.0
14   Alice      Inception      3           3.0
15    Paul  The Godfather      5           5.0
16   Carol   Pulp Fiction      4           4.0
17     Ivy      Star Wars      5           5.0
18   Emily   Forrest Gump      3           3.0
19  Quincy     The Matrix      4           4.0
20     Ivy     The Matrix      4           4.0
21    Paul      Inception      1           1.0
22     Bob  The Godfather      4           4.0
23   Frank      Star Wars      5           5.0
24     Ivy      Inception      3           3.0
25    Dave   Forrest Gump      5           5.0
26  Quincy      Inception      3           3.0
27   Karen     The Matrix      3           3.0
28     Leo        Titanic      4           4.0
29     Mia  The Godfather      5           5.0
30    Nina      Star Wars      5           5.0
31   Oscar     The Matrix      4           4.0
32   Sarah      Star Wars     5x           5.0
33     Tom   Pulp Fiction   Five           5.0
34   Karen      Inception      5           5.0
35     Leo      Inception      2           2.0
36     Mia   Pulp Fiction      4           4.0
37    Nina  The Godfather      4           4.0
38   Oscar   Pulp Fiction      2           2.0
39   Sarah      Inception      4           4.0
40   Wendy   Pulp Fiction      4           4.0
41    Zane   Pulp Fiction    3.5           3.5
42     Uma        Titanic      5           5.0
43   Wendy     The Matrix    3.5           3.5
44  Xander   Forrest Gump      5           5.0
45    Yara      Inception     5y           5.0
46    Zane   Forrest Gump    3.5           3.5
47     Uma      Star Wars     2?           2.0
48   Karen   Pulp Fiction      4           4.0
49     Leo   Forrest Gump      5           5.0
50     Mia   Forrest Gump      3           3.0
51    Nina   Forrest Gump      3           3.0
52   Oscar   Forrest Gump      5           5.0
53    Zane      Star Wars      4           4.0